[submodule "cimgui"]
	path = cimgui
	url = https://github.com/psydack/cimgui
	branch = master
[submodule "cimplot"]
	path = cimplot
	url = https://github.com/psydack/cimplot
	branch = master
[submodule "cimnodes"]
	path = cimnodes
	url = https://github.com/psydack/cimnodes
	branch = master
[submodule "cimnodes_r"]
	path = cimnodes_r
	url = https://github.com/psydack/cimnodes_r
	branch = master
[submodule "cimguizmo"]
	path = cimguizmo
	url = https://github.com/psydack/cimguizmo
	branch = master
[submodule "cimguizmo_quat"]
	path = cimguizmo_quat
	url = https://github.com/psydack/cimguizmo_quat
	branch = master
[submodule "cimCTE"]
	path = cimCTE
	url = https://github.com/psydack/cimCTE
	branch = main_goossens
[submodule "cimplot3d"]
	path = cimplot3d
	url = https://github.com/psydack/cimplot3d
	branch = main
